---
interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const {
	title = "Ari's Blog",
	description = "A blog about my journey learning web development, sharing tips, and exploring new technologies.",
	image = "/opengraph.png",
} = Astro.props;

import "../styles/global.css";
import { Font } from "astro:assets";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" type="image/png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		<meta property="og:type" content="website" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />
		<Font cssVariable="--font-primary" />
		<Font cssVariable="--font-code" />
	</head>
	<body class="dark:bg-[#0d090a] dark:text-[#fff]">
		<Header />
		<div class="container mx-auto px-3">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: var(--font-primary), sans-serif;
		font-size: 16px;
	}
</style>

<script>
	const themeValue = localStorage.getItem("theme") || "dark";
	document.documentElement.classList.toggle("dark", themeValue === "dark");
</script>
